<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yogam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/jquery_news_ticker/li-scroller.css" rel="stylesheet" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Yogam", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_BackendMenuPartial")
            @Html.Partial("_LoginPartial")
        </div>
       
    </div>
</div>
    @Html.Partial("_Alerts")
    <!--JP Insert-->
    <br />
    <br/>
   
    <div class="row row-eq-height " style="margin-bottom:0px;white-space: nowrap">
        <div>
            <div class="col-md-1 ">
                <div class="inside" style="background-color:white">
                    <div class="content">
                        <img src="~/Content/images/YogamLogo_Transparant.png"  width="100" height="79"/><br><br><br>
                       
                    </div>

                </div>
            </div>

            <div class="col-md-2 ">
                <div class="inside" style="background-color:white">
                    <div class="content">
                       
                        <img src="http://wp.hsr.it/wp-content/uploads/2014/12/2-loghi.png" alt="" class="img-responsive">
                    </div>

                </div>
            </div>
           
            <div class="col-md-1 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">
                        @*<img src="~/Content/images/Family.jpg" width="100" /><br>For Individual & Families<br><br>*@
                        <br />
                        <br />
                        <br />
                       
                     
                       
                        <a  href="http://international.hsr.it/about/?lang=en" target="_blank">About Us</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-1 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">
                        @*<img src="~/Content/images/Employers.jpg" width="100" /><br>For Employers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>*@
                        <br />
                        <br />
                        <br />
                        
                       
                        <a href="/Home/SanRaffaelle">Why Choose us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">
                        @*<img src="~/Content/images/brokers.jpg" width="100" /><br>For Agents & Brokers&nbsp;&nbsp;<br><br>*@
                        <br />
                        <br />
                        <br />
                       
                       
                        <a href="/Home/SanRaffaelle">Find a Doctor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">
                        @*<img src="~/Content/images/Providers.jpg" width="100" /><br>For providers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>*@
                        <br />
                        <br />
                        <br />
                       
                      
                        <a href="/Home/SanRaffaelle">Plan your trip</a>
                    </div>
                </div>
            </div>

            <div class="col-md-1 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">
                        @*<img src="~/Content/images/Providers.jpg" width="100" /><br>For providers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>*@
                        <br />
                        <br />
                        <br />
                       
                       
                        <a href="/Home/SanRaffaelle">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--End JP Insert-->
    @RenderBody()
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Yogam Power by JP.InnovSoft.Design.com</p>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
      <script src="~/Content/jquery_news_ticker/jquery.li-scroller.1.0.js"></script>
    <script src="~/Scripts/jquery.val.date.js"></script>
     
    <script type="text/javascript">
    $(function () {
        //alert("Jquery is working");
        $("ul#ticker01").liScroll();
       // alert($("ul#ticker01").val());

    });
    </script>

    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
